input {
    border-color: transparent;
    background-color: transparent;    
}

input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    
}

input:focus {
    outline: 0px;
}

#postInput, .todoInput {
    width: 530px;
    color: white;
}

.title {
    font-size : 32px;
}

.point-dot {
    font-size : 48px;
    color : #4c6ef5;
}

#filter { 
    font-size: 32px;
    cursor: pointer;
}

.top-input, .item {
    background-color: #4c6ef5;
    color: white;
    padding: 42px;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 15px 0 #9fb2ff;
}
